 body{
    background-image: url(./sunset-g57f70117e_1280.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.box{
    max-width: 500px;
    max-height:500px ;
    color:white;
    text-align: center;
    padding:90px;
}

.box h1{
    border-bottom: 1px solid black;
    padding:10px;
    font-size: 40px;
}
.quiz h2{
    font-size: 18px;
    font-weight:bolder;
    color: rgb(32, 31, 31);
}

.btn{
    width:80%;
    border: 1px solid black;
    text-align: left;
    padding:10px;
    margin:10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
    font-weight: bolder;

}
.btn:hover:not([disabled]){
    background-color: pink;

}
.btn.disabled{
    cursor:no-drop;
}
#next-btn{
    width:150px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    border:0;
    font-weight: 500px;
    padding:10px;
    transition: 0.3s;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background:#ff9393;
}

@media (max-width:575px){
    .box{
        padding:0px;
    }
}